.student_info_window {
    height: 300px;
}

.student_info_window__title {
    width: 70%;
    background: rgba(196, 196, 196, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    padding: 1% 0;
}

.student_info_window__title_text {
    text-align: center;
}

.student_info_window__table {
    border-collapse: collapse;
    width: 100%;
}

.simple_cell {
    border: 1px solid #404041;
    text-align: center;
    background: #F0F0F0;
    padding: 8px 12px;
}

.helpful_div_row {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student_info_window__health {
    border-top: 0;
    padding: 2% 0;
    margin-bottom: 2%;
    width: 60%;
}
.health_text {
    color: rgba(0, 0, 0, 0.6);
}

.student_info_window__contacts_table {
    width: 60%;
    border-collapse: collapse;
}

.contacts_actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.helpful_div_column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts_actions__button {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    margin: 20px;
    padding: 10px;
    flex: 1;
}
