.good_scores
{
color: green;
}

.bad_scores_cell
{
color: red;
}

.teams_results
{
padding:40px;
min-width:500px;
}

.teams_results__button_teams_results
{
padding-top: 10px;
text-align: center;
vertical-align:top;
display: flex;
margin-bottom: 20px;
}

.teams_results__title
{
width: 100%;
text-align: center;
}

.scores_subcell
{
display: flex;
text-align: cebter;
align: middle;
align-items: center;
vertical-align:middle;
justify-content: center;
}

.scores_cell
{
background: #F0F0F0;
border: 1px solid #404041;
border-collapse: collapse;
text-align: middle;
align: middle;
align-items: middle;
vertical-align:middle;
}

.header_cell
{
font: bold 120% serif;
border: 1px solid #404041;
border-collapse: collapse;
text-align: center;
background: #C4C4C4;
}

.simple_cell
{
border: 1px solid #404041;
border-collapse: collapse;
text-align: center;
background: #F0F0F0;
font: 120% serif;
}

.inactive_cell
{
border: 1px solid #404041;
border-collapse: collapse;
text-align: center;
background: #C4C4C4;
}

.other_header_cell
{
width:8%;
background: #C4C4C4;
}
.number_cell
{
width:2%;
background: #C4C4C4;
}

.name_cell
{
width:18%;
background: #C4C4C4;
}

.admit_cell
{
width: 5%;
background: #C4C4C4;
}

.group_cell
{
background: #C4C4C4;
width: 6%;
}

.inactive_cell
{
background: #C4C4C4;
width: 6%;
}

.teams_results__table
{
width:100%;
padding: 10px;

border: 1px solid #404041;
border-collapse: collapse;
}

.teams_results__button_back_to_list
{
margin-left:auto;
margin-right:0px;
text-align: center;
justify-content: center;
}

.teams_results__team_name
{
font: bold 120% serif;
padding: 5px;
}

.top10__full_rating
{
font: 120% serif;
margin-top: 10px;
padding: 10px 20px;
margin-right: 0px;
margin-left:auto;
}

