.good_scores
{
color: green;
}

.bad_scores_cell
{
color: red;
}

.teams_results__right_container
{
background: #F0F0F0;
border-spacing: 10px;
}

.teams_results__button_summary_container
{
margin-bottom:10px;
margin-left:auto;
margin-right:auto;
width: 50%;
align:center;
text-align:center;
justify-content: middle;
}

.teams_results__right_button
{
min-width:150px;
width:100%;
height: 40px;
margin-top: 10px;
margin-down: 10px;
text-align:center;
align:center;
vertical-align: middle;
}

.teams_results__right_button_up
{
width:100%;
}

.teams_results__right_container_row
{
margin: 10px;
}

.teams_results__right_button_down
{
width:100%;
margin-top: 10px;
}
.teams_results__right_container_cell
{
width:180px;
padding: 10px;
}

.teams_results__button_watch_summary
{
margin-left:auto;
margin-right:0px;
width: 26%;
}

.teams_results__button_teams_results
{
padding-top: 10px;
text-align: center;
vertical-align:top;
}

.teams_results__title
{
width: 100%;
text-align: center;
}

.scores_subcell
{
display: flex;
text-align: cebter;
align: middle;
align-items: center;
vertical-align:middle;
justify-content: center;
}

.scores_cell
{
background: #F0F0F0;
border: 1px solid #404041;
border-collapse: collapse;
text-align: middle;
align: middle;
align-items: middle;
vertical-align:middle;
}

.header_cell
{
border: 1px solid #404041;
border-collapse: collapse;
text-align: center;
background: #C4C4C4;
}

.simple_cell
{
border: 1px solid #404041;
border-collapse: collapse;
text-align: center;
background: #F0F0F0;
}

.inactive_cell
{
border: 1px solid #404041;
border-collapse: collapse;
text-align: center;
background: #C4C4C4;
}

.other_header_cell
{
width:8%;
background: #C4C4C4;
}
.number_cell
{
width:2%;
background: #C4C4C4;
}

.name_cell
{
width:18%;
background: #C4C4C4;
}

.admit_cell
{
width: 5%;
background: #C4C4C4;
}

.group_cell
{
background: #C4C4C4;
width: 6%;
}

.inactive_cell
{
background: #C4C4C4;
width: 6%;
}

.teams_results__table
{
width:100%;
padding: 10px;

border: 1px solid #404041;
border-collapse: collapse;
}

.teams_results__button_visits_img
{
width:10%;
margin-left:auto;
margin-right:0px;
}

.teams_results__button_visits
{
width:30%;
}

.teams_results__button_visits_text
{
text-align: center;
justify-content: center;
}