.accepted
{
color: green;
}
.not_accepted
{
color: red;
}

.main__rating_values {
border: 1px solid #404041;
box-sizing: border-box;
border-collapse: collapse;
width: 100%;
}

body {
margin: 0
}

.main__rating_first_col {
width:25%;
border: 1px solid #404041;
border-collapse: collapse;
padding: 10px;
}

.main__rating_second_col {
border: 1px solid #404041;
border-collapse: collapse;
text-align: center;
}

.main__current_rating {
margin: 10px;
}

.main__rating_cell_text {
margin:5px;
}

.main {
width: 100%;
margin-left:auto;
margin-right: auto;
}

.main__more_detailed_button_container
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__more_detailed_button {
margin: 20px;
width:25%;
font: bold 110% serif;
border-radius:10px;
}

.main__current_rating_row
{
font: bold 150% serif;
}