.good_scores
{
color: green;
}

.bad_scores_cell
{
color: red;
}

.regulations__button_summary_container
{
width:100%;
margin-bottom:10px;
}

.regultions__button_watch_summary
{
margin-left:auto;
margin-right:0px;
width: 26%;
}

.regultions__button_regulations
{
width:70%;
border: 1px solid #404041;
border-collapse: collapse;
text-align: center;
}

.regulations__title
{
width: 100%;
background: #C4C4C4;
border: 1px solid #404041;
border-collapse: collapse;
margin-bottom:10px;
}
.regulations__button_summary_container
{
width:100%;
display:flex;
justify-content: right;
}

.scores_subcell
{
display: flex;
text-align: cebter;
align: middle;
align-items: center;
vertical-align:middle;
justify-content: center;
}

.scores_cell
{
background: #F0F0F0;
border: 1px solid #404041;
border-collapse: collapse;
text-align: middle;
align: middle;
align-items: middle;
vertical-align:middle;
}

.header_cell
{
border: 1px solid #404041;
border-collapse: collapse;
text-align: center;
background: #C4C4C4;
}

.simple_cell
{
border: 1px solid #404041;
border-collapse: collapse;
text-align: center;
background: #F0F0F0;
}

.inactive_cell
{
border: 1px solid #404041;
border-collapse: collapse;
text-align: center;
background: #C4C4C4;
}

.other_header_cell
{
width:8%;
background: #C4C4C4;
}
.number_cell
{
width:2%;
background: #C4C4C4;
}

.name_cell
{
width:18%;
background: #C4C4C4;
}

.admit_cell
{
width: 5%;
background: #C4C4C4;
}

.group_cell
{
background: #C4C4C4;
width: 6%;
}

.inactive_cell
{
background: #C4C4C4;
width: 6%;
}

.regulations__table
{
width:100%;
border: 1px solid #404041;
border-collapse: collapse;
}

.regultions__button_visits_img
{
width:10%;
margin-left:auto;
margin-right:0px;
}

.regultions__button_visits
{
width:30%;
}

.regultions__button_visits_text
{
text-align: center;
justify-content: center;
}