.schedule {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.schedule__table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #000000;
    text-align: center;
    padding: 5px;
}

.highlighted_cell {
    background: rgba(249, 153, 153, 0.39);
}

.header_cell {
    background: #C4C4C4;
}

.simple_cell {
    background: #ECECEC;
}

.inactive_cell {
    background: #D4D4D4;
    margin: 0;
    padding: 0;
}

.schedule__table__next_week_button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}

.schedule__table__next_week_button:hover {
    background: #C4C4C4;
}
