.coaching_staff
{
text-align: center;
}

.margin_bottom_10px
{
margin-bottom: 10px;
}
.coaching_staff__list
{
width: 50%;
margin-left: auto;
margin-right:auto;
border: 1px double #C0C0C0;
}

.coaching_staff__list_element
{
padding: 6px;
background-color: #B0B0B0;
}
.simple_text
{
font: 120% serif;
}
.arrows_img
{
height:32px;
}

.coaching_staff__list_number_table
{
margin-left: auto;
margin-right:auto;
}