.student_scores {
    background: #ffffff;
    color: #000000;
    font-family: Roboto, serif;
    font-size: 24px;
}

.visits_table {
    border-collapse: collapse;
}

td {
    font-size: 18px;
    border: 1px solid #C4C4C4;
    padding: 10px;
}

.header_cell {
    font-weight: bold;
}

.highlighted_cell {
    background: #C4C4C4;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.image_cell {
    background: url("../styles/images/yes.svg") no-repeat center;
}

.highlighted_image_cell {
    background: #C4C4C4 url("../styles/images/sources/arrow_left.svg") no-repeat center;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.standards__table {
    width: 90%;
}

.standards__table_header {
    display: flex;
    flex-direction: row;
}

.standards__table_item {
    display: flex;
    flex-direction: row;
}

.standards__table_sum {
    display: flex;
    flex-direction: row-reverse;
}

.col_header {
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    flex: 0 0 25%;
    text-align: center;
}

.col_item {
    background: #ECECEC;
    border: 1px solid #000000;
    box-sizing: border-box;
    flex: 0 0 25%;
    text-align: center;
}

.compensation_points__table {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.compensation_points__table__header_item {
    background: #C4C4C4;
    padding: 10px;
    text-align: center;
}

.compensation_points__table__simple_item {
    background: #ECECEC;
    padding: 10px;
    text-align: center;
}

.compensation_points__table__sum {
    background: #C4C4C4;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
