.title_bar {
    width: 100%;
    height: auto;

    font-family: Roboto, serif;
    color: #000000;

    display: flex;
    flex-direction: column;
}

.main_hat {
    width: inherit;
    height: 125px;
    background: #939393;
    font-size: 24px;
    display: flex;
    flex-direction: row;
}

.main_hat__logo {
    height: inherit;
    margin-left: 1%;
    flex: 0 0 auto;
}

.main_hat__profile {
    flex: 1 1 auto;
    text-align: center;
    align-self: center;
    margin: 1%;
}

.main_hat__info {
    display: flex;
    flex-direction: column;
}

.main_navigation {
    width: inherit;

    display: flex;
}

.main_navigation__button {
    flex: 1 1 auto;
    background: #C4C4C4;
    font-size: 30px;
}

.main_hat_space {
    flex: 1 2 50%;
}
