.user_description__profile {
margin-bottom: 20px;
    background: #b0b0b0;
}
.user_description__profile_photo {
    padding: 10px;
    vertical-align: top;
}
.user_description__profile_board profile_col_photo {
vertical-align: top;
}
tr {
vertical-align: top;
}
.user_description__profile_table {
vertical-align: top;
}
.profile_col_2 {
text-align: left;
top: 0px;
bottom: auto;
    font: 100% serif;
    padding-bottom: 5px;
    margin-left: 50px;
    min-width: 200px;
    max-width: 380px;

}
.user_description__profile_information {
text-align: left;
font: bold 120% serif;
text-decoration: underline;
}
.profile_col_1 {
top: 0px;
bottom: auto;
 text-align: left;
    font: 100% serif;
    padding-bottom: 5px;
    padding-right: 20px;
    min-width: 200px;
    max-width: 380px;
}
.user_description__username {
 font: 200% serif;
}
.user_team_description__insurance
{
padding:10px;
background: #b0b0b0;
}
.user_team_description__achivements
{
}
.user_team_description__certificate
{
padding:10px;
background: #b0b0b0;
}
.user_team_description__diploma
{
padding:10px;
}
.user_team_description__charter
{
padding:10px;
background: #b0b0b0;
}