.messaging {
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.messaging__people {
    width: 25%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messaging__people__search {
    flex: 10;
    display: flex;
    flex-direction: row;
}

.search__button {
    flex: 1;
    background: #C4C4C4;
}

.search__input {
    flex: 3;
}

.messaging__actions {
    display: flex;
    flex-direction: row;
    flex: 10;
    background: #DBDBDB;
}

.messaging__people_container {
    flex: 80;
    background: #F9F9F9;
    overflow: auto;
}

.messaging__actions_button {
    background: #C4C4C4;
    flex: 1;
}

.people_button {
    width: 100%;
    background: #C4C4C4;
    height: 15%;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
    /*padding-left: 10%;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

.people_avatar {

}

.people_name {
    margin-left: 10px;
}

.messaging__dialog {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.messaging__actions_messages {
    flex: 1;
}

.messaging__dialog_title {
    background: rgba(196, 196, 196, 0.2);
    flex: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
}

.dialog_title__text {
    text-align: center;
}

.messaging__dialog_container {
    width: 100%;
    background: #F9F8F8;
    flex: 80;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.dialog_item__left, .dialog_item__right {
    background: #C4C4C4;
    padding: 5%;
    text-align: center;
}

.dialog_item__left {
    margin: 5% 50% 5% 0;
}

.dialog_item__right {
    margin: 5% 0 5% 50%;
}

.messaging__dialog_text__input {
    flex: 90;
    background: #E1D9D9;
    border: 0;
    padding-left: 10px;
}

.messaging__dialog_text {
    width: 100%;
    background: #E1D9D9;
    flex: 10;
    display: flex;
}

.messaging__dialog_text__send_button {
    flex: 10;
    height: inherit;
    background: url("../styles/images/send.svg") no-repeat center;
    border: 0;
}
