/*.common_and_specialization_standards {*/
/*    front-family: 'Roboto', sans-serif;*/
/*}*/

/*.common_standards_table, .specialization_standards_table {*/
/*    width: 90%;*/
/*    margin: auto;*/
/*}*/

/*.names_cells {*/
/*    width: 65%;*/
/*}*/

/*th {*/
/*    font-size: 18pt;*/
/*    text-align: left;*/
/*    font-weight: normal;*/
/*    padding-bottom: 10px;*/
/*}*/

/*td {*/
/*    font-size: 14pt;*/
/*    text-align: center;*/
/*    padding: 15px;*/
/*    background: #E1DDDD;*/
/*}*/

/*button {*/
/*    position: absolute;*/
/*    right: 20px;*/
/*    text-align: center;*/
/*    border-radius: 4px;*/
/*    font-size: 18px;*/
/*    padding: 10px 10px 10px 10px;*/
/*}*/

/*button:hover {*/
/*    background-color: lightgray;*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*}*/

