.students_top {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.students_top__table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #000000;
    text-align: center;
    padding: 5px;
}

.header_cell {
    background: #C4C4C4;
    font-weight: bold;
}

.simple_cell {
    background: #ECECEC;
}

.id_cell {
    width: 8%;
}

.fio_cell {
    width: 50%;
}

.institute_cell {
    width: 25%;
}

.scores_cell {
    width: 16%;
}