/*.standards {*/
/*	font-family: 'Roboto', sans-serif;*/
/*}*/

/*.standards_table {*/
/*	width: 90%;*/
/*	margin: auto;*/
/*}*/

/*.all_standards_cell {*/
/*	width: 65%;*/
/*}*/

/*th {*/
/*	font-size: 18pt;*/
/*	text-align: left;*/
/*	font-weight: normal;*/
/*	padding-bottom: 10px;*/
/*}*/

/*td {*/
/*	font-size: 14pt;*/
/*	text-align: center;*/
/*	padding: 15px;*/
/*	background: #E1DDDD;*/
/*}*/

/*.selected_cell {*/
/*	width: 10%;*/
/*	background: #E1DDDD url("../styles/images/sources/selected.svg") no-repeat center;*/
/*}*/
