@import "vars";

@mixin elementBorder(){
  border: $border_width solid $p_black;
}

@mixin elementMargin() {
  margin: $px10_wight $px0_wight $px10_wight $px0_wight;
}

@mixin month_navigation_button() {
  padding-right: $px50_wight;
  text-align: left;
}

