/*colors*/
$p_white: #FFFFFF;
$p_black: #000000;
$bg_gray: #F5F5F5;
$info_table_bg: #E1DDDD;
$dark_gray: #404041;
$light_gray: #F0F0F0;
$month_navigation_button_bg: #C4C4C4;

$background_color:$light_gray;
$border_color: $dark_gray;

/*width*/
$px0_wight: 0px;
$px_wight: 1px;
$px2_wight: 2px;
$px3_wight: 3px;
$px4_wight: 4px;
$px10_wight: 10px;
$px50_wight: 50px;

$border_width: $px_wight;
$box_shadow_value: $px4_wight;


$width100: 100%;
$width100: 90%;
$width80: 80%;
$width60: 60%;
$width40: 40%;

/*url*/

$next_month_navigation_button_url: url("images/sources/arrow_right.svg");
$prev_month_navigation_button_url: url("images/sources/arrow_left.svg");

/*texts*/
$front_family_text: Roboto, sans-serif;
$title_family_text: Roboto, serif;
$front_size_text: 24px;
$placeholder_text_size: 22px;
$title_size_text: 100px;
$title_line_height: 21px;
$filter_buttons_text_size: 14px;
$double: 2;
$single: 1;
