/*colors*/
/*width*/
/*url*/
/*texts*/
/*colors*/
/*width*/
/*url*/
/*texts*/
.calendar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt; }

.calendar__table {
  border-collapse: collapse;
  width: 100%; }

td {
  border: 1px solid #000000;
  text-align: center;
  padding: 5px; }

.month_cell, .year_cell {
  background: rgba(214, 214, 214, 0.61);
  border: 1px solid #000000;
  box-sizing: border-box; }

.empty_cell {
  background: #797878; }

.weekday_cell, .week_cell {
  background: #939393; }

.day_cell {
  background: #ECECEC;
  padding: 20px; }

.highlighted_day_cyan {
  background: #9EEAFB;
  box-shadow: inset 2px 3px 6px rgba(0, 0, 0, 0.25); }

.highlighted_day_red {
  background: #F99999;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2); }

.prev_month_cell {
  background: #C9C6C6; }

.next_month_cell {
  background: #DBDBDB; }

.calendar__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px; }

.calendar__actions_button {
  border: 1px solid #000000;
  box-sizing: border-box;
  text-decoration: underline;
  padding: 10px; }

#next_month_button {
  padding-right: 50px;
  text-align: left;
  background: #C4C4C4 url("images/sources/arrow_right.svg") no-repeat right; }

#prev_month_button {
  padding-right: 50px;
  text-align: left;
  background: #C4C4C4 url("images/sources/arrow_left.svg") no-repeat left; }

/*# sourceMappingURL=calendar.css.map */
